<template>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link to="/" class="nav-link">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/create" class="nav-link">Create Project</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/posts" class="nav-link">Posts</router-link>
        </li>
      </ul>
    </nav>
</template>
<script>
export default {
    name: 'HeaderComponent'
}
</script>
<style>
.fade-enter-active, .fade-leave-active {
      transition: opacity 
    }
.fade-enter, .fade-leave-active {
    opacity: 0
}
</style>