<template>
  <div class="row ">
      <div class="col-md-12">
          <div class="card card-default">
              <div class="card-header">
                  <div class="row">
                    <div class="col-md-2">
                        Project Name
                    </div>
                    <div class="col-md-10">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search" v-model="searchProject">
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="card card-default" v-for="project in filterProject" :key="project.index" style="cursor: pointer">
              <div class="card-body">
                  <router-link to="/ProjectDetails">{{project.name}}</router-link>
              </div>
          </div>
      </div>
  </div>
</template>
<script>
export default {
    data(){
          return{
              Projects:[
                  {
                      name:'xyz'
                  },
                  {
                      name:'mnc'
                  },
                  {
                      name:'abc'
                  },
                  {
                      name:'efg'
                  },
                  {
                      name:'xyz'
                  },
              ],
              searchProject:''
          }
      },
      methods:{

      },
      computed:{
          filterProject(){
              const search = this.searchProject.toLowerCase().trim()
              if (!search) return this.Projects
              return this.Projects.filter(c => c.name.toLowerCase().indexOf(search) > -1)
          }
      }
      
}
</script>