<template lang="html">

  <section class="project-details">
    <h1>project-details Component</h1>
  </section>

</template>

<script lang="js">

  export default  {
    name: 'project-details',
    props: [],
    mounted () {

    },
    data () {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}


</script>

<style scoped>
  .project-details {

  }
</style>
