<template>
  <div class="container">
    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link to="/" class="nav-link">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/create" class="nav-link">Create Post</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/posts" class="nav-link">Posts</router-link>
        </li>
      </ul>
    </nav><br /> -->
    <HeaderComponent></HeaderComponent>
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import  HeaderComponent  from "./components/HeaderComponent.vue";

export default {
  name: 'App',
  components: {
    HeaderComponent
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.fade-enter-active, .fade-leave-active {
      transition: opacity 
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>
